
@font-face {
    font-family: 'retro';
    src: url('/resources_testing/Retro Banker.ttf') format('truetype');
}

body {
    background-color: #262626;
    color: #ff82e0;
    margin: 0;
    padding: 0;
    height: 200vh;
    display: block;
    justify-content: left;
    align-items: center;
    font-family: 'retro', sans-serif;        
    background-image: url("/resources_testing/bytescapeslinux.png");
    backdrop-filter: blur(0);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin-top: 10vh;
    text-align: center;
}

.navbar {
    margin-top: -1.5vh;
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: rgba(110,110,110,0.51);
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;

    background-repeat: repeat;
    background-size: contain;

    border-radius: 2vh;
    
    backdrop-filter: blur(10px);
}


.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul li {
    margin-right: 3vw;
}

.navbar ul li a {
    text-decoration: none;
    color: #ff82e0;
    font-size: 3vh;
    display: inline-block;
    transition: transform 0.1s ease;
}

.navbar ul li a:hover {
    transform: scale(1.2);
}

.object_description {
    color: #ff82e0;
    border-radius: 1vh;
    font-family: "retro", sans-serif;
    font-size: 2.5vh;
    margin-left: 2vw;
}

.object_description p {
    overflow-wrap: break-word;
}

.object_name {
    text-align: left;

    padding: 10px;
    border-radius: 5px;

}

.object_name ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: left;
}

.object_name ul li h1{
    margin: 0;
    color: #ff5c00;
    font-size: 5vw;
}

.object_display_image {
    width: 10vw;
    height: 64px;
}

.object_display_image_px {
    image-rendering: pixelated;
    height: 64px;
}

.data_table_div {
    padding: 5px;
    border-radius: 5px;
}

.data_table {
    font-family: "retro", sans-serif;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: left;
    margin-left: 10vw;
    margin-bottom: 7vh;

    margin-top: 2vh;
}

.data_table th {
    border: 2px solid rgba(182, 255, 157, 0.6);
    background-color: rgba(153, 213, 117, 0.3);
    padding: 10px;
}


.default_values_header, .recipe_header, .structure_header{
    font-size: 2vh;
    text-align: left;
    margin-left: 10vw;
    white-space: nowrap;
    color: #ff5c00;
}

.container {
    background-color: rgba(110,110,110,0.51);
    padding: 5px;
    padding-right: 10px;
    margin-top: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

.inline_container {
    background-color: rgba(110,110,110,0.51);
    padding: 2px;
    padding-right: 0;
    margin-top: 1vh;
    margin-left: 0;
    margin-right: 1vw;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    padding: 5px;
    margin: 5px;
    border: 2px solid #ff5c00;
}

th, td {
  border-right: 1px solid #ff5c00;
  padding: 8px;
  text-align: left;
}

th {
    color: white;
}


.list_link{
    font-size: 2vh;
    text-decoration: none;
    color: #ff82e0;
    transition-duration: 0.2s;
}

.list_link:hover{
    color: #ff5c00;
}

.recipe_list {
    margin-left: 8vw;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0;
    list-style-type: none;
}

.recipe_list li a:hover {
    transform: scale(1.2);
}

.recipe {
    border-radius: 1vh;
    height: auto;
}

.recipe_table {
    border-collapse: collapse;
    width: 10vw;
    height: 10vw;
    white-space: nowrap;
}

.recipe_table th, .recipe_table td {
    border: 2px solid rgba(182, 255, 157, 0.6);
    background-color: rgba(153, 213, 117, 0.3);
    padding: 5px;
}

.crafting_table_item {
    width: 5vw;
    image-rendering: pixelated;
}

.crafting_table_item:hover {
    transform: scale(1.2);
}

.recipe_div {
    align-content: center;
    padding: 5px;
    border-radius: 5px;
}

.recipe_div table {
    margin-right: 2vw;
}

.recipe_div p{
    margin-right: 2vw;
}

.recipe_table_recipe {
    border-collapse: collapse;
    width: 10vw;
    height: 10vw;
    white-space: nowrap;
}

.recipe_table_result th, .recipe_table_result td {
    border: 2px solid rgba(182, 255, 157, 0.6);
    background-color: rgba(153, 213, 117, 0.3);
    padding: 10px;
}
